.drop-down {
    width: 100%;
}
.drop-down-header {
    font-weight: 500;
    color: white;
    background-color: #ff6060;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px 0 20px;
    border-radius: 5px;
    z-index: 1;
}
.drop-down-header p {
    margin: 0;
}
.drop-down-contents {
    font-weight: 400;
    color: #ff6060;
    background-color: #f6f6f6;
    margin-top: -10px;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 30px 20px 20px;
    border-radius: 5px;
    position: relative;
    z-index: -1;
}
.drop-down-contents.hidden {
    display: none;
}
.drop-down-btn {
    cursor: pointer;
}
.drop-down-contents ul.container {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

@media (max-width:768px) {
    .drop-down-header {
        height: 30px;
    }
}