.about-content {
    margin: 30px 100px 0 100px;
}
.about-content ul {
    margin: 0 108px;
    padding: 0;
}
li.about-drop-down {
    margin-top: 30px;
    list-style: none;
    font-size: 1.5em;
    position: relative;
    width: 100%;
}