.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.profile-name {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    right: 150px;
}
.profile-picture {
    width: fit-content;
}
.profile-picture img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

@media (max-width:768px) {
    .profile {
        order: 2;
    }
    .profile p {
        margin: 0;
    }
    .profile-name {
        font-size: 0.75em;
    }
    .profile-picture img {
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }
}