header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px 0 100px;
}
.logo img {
    height: 68px;
}
.menu a {
    color: #ff6060;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 57px;
    display: inline-block;
    text-decoration: none;
}
.menu a:hover {
    color: black;
}
.menu a.active-page {
    text-decoration: underline;
}

@media (max-width:992px) {
    header {
        margin: 40px 50px 0;
    }
}

@media (max-width:768px) {
    header {
        margin: 20px 20px 0;
    }
    .logo img {
        height: 47px;
    }
    .menu a {
        font-size: 0.75em;
        text-transform: uppercase;
        margin-left: 20px;
    }
}