.banner {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    height: 223px;
    overflow: hidden;
    border-radius: 25px;
}
.banner.home-page {
    margin-top: 59px;
}
.banner.about-page {
    margin-top: 40px;
}
.banner-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
}
.banner img {
    object-fit: cover;
}
.banner img.about {
    width: 110.5%;
    object-position: -30px -281px;
}
.banner img.home {
    width: 105%;
    object-position: -20px -750px;
}
.slogan {
    font-size: 3em;
    font-weight: 500;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 87px;
    margin: 0;
    z-index: 1;
}

@media (max-width:992px) {
    .banner {
        margin-left: 50px;
        margin-right: 50px;
    }
    .banner.about-page {
        margin-top: 20px;
    }
    .banner img.about {
        object-position: -30px -151px;
    }
    .banner.home-page {
        margin-top: 40px;
    }
    .banner img.home {
        object-position: -30px -550px;
    }
    .slogan {
        font-size: 2.25em;
    }
}

@media (max-width:768px) {
    .banner {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
    }
    .banner img.about {
        object-position: -30px -10px;
    }
    .banner.home-page {
        margin-top: 20px;
        height: 111px;
    }
    .banner img.home {
        object-position: -10px -380px;
    }
    .slogan {
        font-size: 1.5em;
        text-align: left;
        top: 25px;
        margin-left: 20px;
    }
    .slogan span:last-child {
        display: block;
    }
}